/* Navbar shadow */
.navbar {
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

/* Dark Mode */
body.dark {
  background-color: #121212;
  color: #fff;
}

body.dark .card {
  background-color: #1e1e1e;
  color: #fff;
}

body.dark .navbar {
  background-color: #000 !important;
}